
# Eclipse project files
.project
.settings/
.classpath
bazel-*
.DS_Store

# Android IDE files
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Fastlane and Build
fastlane/*-output
build
/captures
.externalNativeBuild
.cxx
/app/secrets
fastlane/*.xml
